.quizHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.groupBtn {
  display: flex;
  justify-content: space-between;
  width: 90px;
}
.icon {
  font-family: ElegantIcons;
}
.btn {
  padding: 0 5px 0 5px;
  font-weight: 300;
  font-size: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ced4da;
  transition: 0.2s;
  color: #6c757d;
  background-color: #fcfcfc;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: inset 0.5px 1px 1px #ced4da;
}
.textRed {
  color: #ff3425;
}
.text {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media (max-width: 768px) {
  .groupBtn {
    width: 70px;
  }
  .btn {
    font-size: 22px;
  }
  .btn:hover {
    opacity: 1;
    box-shadow: none;
  }
}