.screen {
  height: 100%;
  width: 100%;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tab {
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 2px;
  font-size: 20px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 300;
}
.tab:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: inset 0.5px 1px 1px #ced4da;
}
.pane {
  border: 1px solid #ced4da;
  border-radius: 2px;
  font-size: 20px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 300;
}
.tableWrap {
  height: 320px;
  width: 100%;
  overflow: auto;
}
.cell {
  width: 100px;
  text-align: left;
  vertical-align: middle;
  padding: 5px 5px 0px 5px;
  border: 1px solid #dee2e6;
  border-radius: 1px;
  font-size: 15px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 300;
}
.download {
  width: 50px;
  height: 25px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 20px;
  font-weight: 300;
  outline: none;
  border-radius: 5px;
  color: #fcfcfc;
  background-color: #34cc73;
  text-align: center;
}